* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-columns: auto;
  grid-template-areas:
    "header header header header"
    ". taskInput taskInput ."
    ". task  task ."
    ". task  task ."
    ". progressBar progressBar ."
    "footer footer footer footer";
  gap: 10px;
}
.task-input {
  grid-area: taskInput;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
  gap: 1rem;
}

.task {
  grid-area: task;
  display: flex;
  justify-content: center;
}

.task-item {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.strike {
  text-decoration: line-through;
  color: grey;
}

.open-task {
  display: flex;
  justify-content: center;
}

.card-container {
  height: 100px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.progressBar {
  grid-area: progressBar;
  text-align: center;
}

footer {
  grid-area: footer;
  margin: 20px;
  display: flex;
  justify-content: center;
}

header {
  grid-area: header;
  margin: 20px;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}
